

header{
  background: #E5E5E5;
  text-align: center;
  padding-top: 21px;
}
header img{
  padding-bottom: 21px;
}
*{
  font-family: 'Times New Roman', Times, serif;
}
h1,h2{
  text-transform: uppercase;
  color: #005677;
  background: #C4C4C4;
  font-weight: 700;
  letter-spacing: 7px;
}
h1{
  text-align: center;
  margin: 0;
  line-height: 50px;
  
}
li{
  line-height: 22px
}
main{
  margin-top: 104px;
  margin-bottom: 213px;
}
section{
  margin-left: 225px;
  margin-right: 174px;
}
.datos li{
    font-style: italic;
}
footer{
  text-align: center;
}

footer h2{
  color: white;
  text-transform: uppercase;
  background: #005677;
  letter-spacing: normal;
  line-height: 35px;
}
footer img {
  margin-left: 26px;
}